rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /destinations/{destination} {
      allow read: if true;
      allow create, delete, update: if request.auth != null && request.auth.uid == resource.data.userUid;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userUid;
      allow update: if request.auth != null && request.resource.data.diff(resource.data).affectedKeys().hasOnly(["visitCount"]);
      allow update: if request.auth != null && request.resource.data.diff(resource.data).affectedKeys().hasOnly(["numRating", "sumRating", "avgRating"]);

      match /panoramas/{panorama} {
        allow read: if true;
        allow write: if request.auth != null && request.auth.uid == get(/databases/$(database)/documents/destinations/$(destination)).data.userUid;
      }

      match /reviews/{uid} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      } 
    }
  }
}